.text-center {
    text-align: center;
}
.margin-bot-8 {
    margin-bottom: 8rem;
}
.margin-top-8 {
    margin-top: 8rem;
}
.margin-bot-2 {
    margin-bottom: 2rem;
}
.heading-third {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
}
.paragraph {
    font-size: 1.6rem;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
//BUTTONS
.btn {

    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem;
        display: inline-block;
        border-radius: 15rem;
        transition: all .2s;
        position: relative;
        font-size: 1.5rem;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 1rem rgba($color-black, .2);
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem .5rem rgba($color-black, .2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 15rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .3s;
    }

    &:hover::after {
        transform: scale(1.5);
        opacity: 0;
    }
}

.btn-white {
    background-color: $color-white;
    color: $color-grey;
    animation-name: moveInUp;
    animation-duration: 2s;

    &::after {
        background-color: $color-white;
    }
}
.btn-green {
    background-color: $color-primary-light;
    color: $color-white;
    animation-name: moveInUp;
    animation-duration: 2s;

    &::after {
        background-color: $color-primary-light;
    }
}

.btn-text {

    &:link,
    &:visited {
        display: inline-block;
        font-size: 1.6rem;
        color: $color-primary;
        text-decoration: none;
        border: .1rem solid $color-primary;
        padding: .3rem;
        transition: all .2s;
        border-radius: 10rem;
    }

    &:hover {
        background-color: $color-primary-light;
        color: $color-white;
        box-shadow: .5rem .5rem 1.5rem rgba($color: #000000, $alpha: .2);
        transform: translateY(-1rem);
    }

    &:active {
        box-shadow: 0rem 0rem 1rem rgba($color: #000000, $alpha: .2);
        transform: translateY(0);
    }
}
//CARDS
.card {
    perspective: 200rem;
    -moz-perspective: 200rem; //mozilla implement
    position: relative;
    height: 50rem;//Need to predifined or collapses perspective

    &-side {
        background-color: $color-white;
        height: 50rem;//Need to prefix the same with parent or perspective is lost
        transition: all 1.5s ease;
        position: absolute;
        top: 0;
        left: 0; 
        width: 100%;
        backface-visibility: hidden;
        border-radius: 1rem;
        overflow: hidden; //because when added image overflows and border-radius is lost
        box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: .5)
    }
    .frontside {

    }

    .backside {
        transform: rotateY(180deg);
       
    }
    .back1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
    }
    .back2 {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    }
    .back3 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
    }
    &:hover .frontside {
        transform: rotateY(-180deg);
    }
    &:hover .backside {
        transform: rotateY(0);
    }

    //Frontside Styling
    &-picture {
        background-size: cover;
        height: 20rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        clip-path: polygon(0 0,100% 0,100% 75%,0 100%);
        
    }
    .picture1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url('..//../img/bikes1.jpg');
    }
    .picture2 {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url('..//../img/bikes4.jpg');
    }
    .picture3 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url('..//../img/bikes5.jpg');
    }
    &-heading {
        font-size: 2.5rem;
        font-weight: 500;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 10rem;
        right: 2rem;
        
        .span-1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-dark, .9), rgba($color-secondary-light, .9) );
        }
        .span-2 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-dark, .9), rgba($color-primary-light, .9));
        }
        .span-3 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-dark, .9), rgba($color-tertiary-light, .9));
        }
    }
    &-details {
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 2rem;
                &:not(:last-child) {
                    border-bottom: .1rem solid $color-grey;
                }
            }       
        }
    }
    //Backside styling
    .price-box {
        text-align: center;
        color: $color-white;
        margin-top: 20%;
        .price-title {
            font-size: 1.5rem;
            text-transform: uppercase
        }
        .price-value {
            font-size: 8rem;
            font-weight: 100;
        }
    }
    .btn-box   {
        margin-top: 30%;
        text-align: center;
    }
    
    
}